{% extends 'base.html' %}

{% block header %}
    <title>Summary | GUDLFT Registration</title>
{% endblock header %}

{% block title %}
        <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
{% endblock title %}

{% block content %}

    Points available: {{club['points']}}
    <h3>Competitions:</h3>
    <ul>
        {% for comp in competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>

{% endblock content %}